@model IEnumerable<HotelPlayaParadise.Models.Tipo>
@using HotelPlayaParadise.Helpers
@{
    ViewBag.Title = "Index";
}

<h2>Listado de Tipo de Indicadores</h2>

<link rel="stylesheet" href="~/css/StyleLink.css">
<link rel="stylesheet" href="~/css/StyleTables.css">
<link rel="stylesheet" href="~/css/StyleSummitButton.css">

<a href="@Url.Action("Create", "Tipoes")" class="btnG" style="text-decoration: none; color:gray; margin-top:15px">
    Crear Nuevo
</a>
<table class="styled-table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.Indicadors.Nombre)
            </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Indicador.Nombre)
                </td>*@
        <td>
            @Html.ActionButton("Editar", "Edit", "Tipoes", new { id = item.Tipo_Id }, new { @class = "btnC" }) |
            <a href="@Url.Action("Details", "Tipoes", new { id = item.Tipo_Id })" class="btngreen" style="text-decoration: none; color:green">
                Detalles
            </a> |
            @*@Html.ActionButton("Detalles", "Details", "CMIs", new { id = item.Id }, new { @class = "btn" })*@
            @Html.ActionButton("Eliminar", "Delete", "Tipoes", new { id = item.Tipo_Id }, new { @class = "btnD" })
        </td>
        </tr>
    }

</table>
